- var title = "Projects | CS383"

doctype html
html(lang="en")
  include ../_includes/head.pug
  body
    include ../_includes/header.pug
    main.project
      section.info
        //- h1 Seth Lunders
        img(src="/img/themsFightingWords.png", alt="Screenshot of 2D 16bit game")
        //- a.btn(href="#about") Learn More
      section.about(id="about")
        h2 Them's Fighting Words | Fall 2021
        a(href="https://github.com/hollyk24/MiddleMan-Video-Game", target="_blank").btn.btn_full View&nbsp;Repo
        p This project was my first experience working with both C# and Unity. I worked on a team of six on this semester-long project in which each team member had a feature they 'championed', as well as a 2-3 week window as the team lead.
        br
        p The idea behind the game was to make a 2D overworld where you talk to NPCs, then—on purpose or not—you say something that upsets them, and they challenge you to various arcade-style games (think Snake, Brick-Breaker, Street-Fighter, etc).
        br
        p My feature was the controls. This was fairly straightforward once I began to learn about the Unity engine.
        br
        p I was the final team lead, which means I was in charge of getting everyone's features working well together. We exported the game for Windows, Linux, and Android.
        br
        p We didn't get nearly as much completed as we hoped, but if you want to check out our end result, here's our #[a(href="https://github.com/hollyk24/MiddleMan-Video-Game/releases/tag/v1.0.0", target="_blank") downloads page].
        a(href="/").btn.btn_ghost Back
    //- aside
        h2 Sidebar


    include ../_includes/scripts.pug
    include ../_includes/foot.pug