- var title = "Projects | CS383"

doctype html
html(lang="en")
  include ../_includes/head.pug
  body
    include ../_includes/header.pug
    main.project
        section.info
            h1.center-text Photo coming soon!
            //- img(src="/img/djangoStore/products_page.png", alt="Screenshot of Django e-commerce store")
            p.center-text (Updated 4/4/23)
        section.about
            h2 Pakicetus Redux | Spring&nbsp;22-Spring&nbsp;23
            //- h3
            a(href="#", target="_blank").btn.btn_full Coming soon to Steam!
                //- a(href="https://goldpearlpress.com/", target="_blank").github_link View Site
            //- br
            p A version of this project was originally released back in 2020, funded by a grant from the National Science Foundation (NSF). It's been designed and developed by a team of undergrads. Starting in Spring 22, I lead a team of five (2 other programmers, 2 artists) with the goal of redesigning the gameplay to be more engaging, while still communicating the learning goals to the players. We've kept most of the storyline, and much of the art, but have also made it our own.
            
            //- h3 Story:
            //- p After devastating global natural disasters, humans  
            a(href="/").btn.btn_ghost Back
    include ../_includes/scripts.pug
    include ../_includes/foot.pug