- var title = "Seth Lunders | Home"

doctype html
html(lang="en")
  include _includes/head.pug
  body
    include _includes/header.pug
    main.home
      section.me
        //- h1 Seth Lunders
        img(src="/img/me.jpg", alt="A photo of me")
        p Seth&nbsp;Lunders
        p B.S.&nbsp;Computer&nbsp;Science
        p May&nbsp;2023
        //- a.btn(href="#about") Learn More
      section.about
        h2 About Me
        p Hi, my name is Seth! I'm a Computer Science major at the University of Idaho, graduating in May. Most of my time is spent on schoolwork, but in my free time I also do a bit of photography for fun. I'm actively updating this site, so check back soon for more projects!
        br
        p Check out my #[a(href="https://www.github.com/selunders") Github], or see some in-depth project explanations here:
        a(href="/projects/authorjamiesheehan", rel="nofollow").project_link Author Showcase (HTML/CSS/JS)
        a(href="/projects/DjangoStore").project_link Django e-commerce site (Django + Bootstrap)
        a(href="/projects/goldpearlpress").project_link #[em Gold Pearl Press] website (HTML/CSS/JS) 
        a(href="/projects/CS383").project_link CS383 Unity Project (C#)
        a(href="/projects/tensileTesterUI").project_link UI for Tensile Tester (Python + DearPyGUI)
        //- a(href="/projects/pakicetusRedux").project_link Pakicetus Redux (Unity, C#)
        a(href="#") #[em More Coming soon!]


    include _includes/scripts.pug
    include _includes/foot.pug